html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAF3F0;
}

header {
    height: 100%;
    background-image: url("https://wallpapersafari.com/downloadres/hiWa8T/desktop/1920/1080/");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.first-image {
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
}

.content-text p {
    font-size: 24px;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    word-spacing: 4px;
}

.first-caption {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

p.note {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.card {
    padding: 5%;
    text-align: center;
    background-color: #A1CCD1;
}

.card-heading {
    font-size: 45px;
    padding-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
}

.second-images {
    width: 500px;
    display: inline-block;
}

.second-images img {
    transition: .3s;
    border-radius: 15px;
}

.second-images img:hover {
    width:520px;
}

.text {
    width: 40%;
    display: inline-block;
    vertical-align:top;
    margin: 20px;
    padding: 30px;
    text-align: right;
}

.text h4 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

.text p {
    font-size: 18px;
    word-spacing: 2px;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
}

.text a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    padding: 10px 30px;
    background-color: #000000;
    border-radius: 25px ;
    color: #efefef;
    transition: .3s;
}

.text a:hover {
    background-color: #F5F3F4;
    color: #000000;
    border: 1px solid rgb(125, 211, 245);
}

.text-left {
    text-align: left;
}

.wrapper {
    background-color: #F5F3F4;
    text-align: center;
}

.wrapper-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: left;
    padding: 40px;
    text-align: center;
}

.combined-cards {
    margin-bottom: 30px;
}

.all-cards {
    width: 30%;
    margin: 15px;
    display: inline-block;
    max-height: 800px;
}

.card-layout {
    border-radius: 20px 20px 0 0;
    text-align: center;
    width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card-description {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 0 0 20px 20px;
}

.card-description p {
    margin-bottom: 20px;
    max-height: 200px;
    overflow: auto;
}

.card-description a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: .2s;
}

a.reykjavik {
    background-color: black;
}

a.goldc {
    background-color: black;
}

a.nlights {
    background-color: black;
}

a.reykjavik:hover {
    background-color: #F5F3F4;
    color: black;
    border: 1px solid black;
}

a.goldc:hover {
    background-color: #F5F3F4;
    color: black;
    border: 1px solid black;
}

a.nlights:hover {
    background-color: #F5F3F4;
    color: black;
    border: 1px solid black;
}

.background-one {
    background-image: url("https://wallpaperaccess.com/full/804363.jpg");
}

.background-two {
    background-image: url("https://res.cloudinary.com/itb-database/image/upload/s--grLRtUJE--/c_fill,dpr_auto,f_auto,q_auto:eco,w_1280/v1/Places/8a1bd1f757d397be0abb63381ff06fd6");
}

.background-three {
    background-image: url("https://static.independent.co.uk/2023/05/04/10/iStock-1058181722.jpg");
}

.card-image-text {
    color: white;
    position: absolute;
    width: 100%;
    font-family: 'Lato', sans-serif;
    bottom: 0;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.card-image-text p {
    font-size: 16px;
    padding: 20px;
}

.stretched {
    height: 58%;
    background-image: url("https://wallpaperaccess.com/full/1182142.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.stretched-text {
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    transition: .3s;
}

.stretched-text:hover {
    font-size: 25px;
}

footer {
    font-family: 'Lato', sans-serif;
    height: 120px;
    text-align: center;
    font-size: 15px;
    background-color: black;
    color: #F5F3F4;
}

footer p {
    padding: 15px 0px 0px;
}

footer a {
    text-decoration: none;
    color: #F5F3F4;
    transition: .3s;
}

footer a:hover {
    text-decoration: dashed;
    font-size: 18px;
}

.logo-image {
    width: 45px;
    vertical-align: bottom;
    padding-left: 8px;
    display: inline-block;
}

.logo {
    font-size: 22px;
    text-align: left;
    vertical-align: middle;
    padding: 10px;
    letter-spacing: 1px;
    display: inline-block;
}

.logo h2 {
    font-family: 'Montserrat', sans-serif;
}

header li {
    display: inline-block;
}

header nav {
    position: absolute;
    right: 10px;
    top: 35px;
}

header a {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 10px;
    color: black;
    text-decoration: none;
    position: relative;
}

.offcialDomain {
    border: 3px solid #02c2f2;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #030303;
    color: white;
    transition: .5s;
}

.header-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left:10%;
    right:10%;
    background-color: #afd33a;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    transition: .5s;
}

.header-text h3 {
    font-size: 30px;
    padding: 10px;
}

.header-text h2 {
    font-size: 50px;
    padding: 10px;
}

.iceland {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 50px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

.top-header {
    transition: .5s;
    padding: 20px;
    position: sticky;
}

.top-header:hover {
    background-color: rgba(255, 255, 128, .5);
}

.top-header:hover .offcialSite {
    background-color: black;
    color: #F5F3F4;
}

header a:hover {
    text-decoration: underline;
}

.header-text:hover {
    padding: 30px;
    background-color: rgba(245, 243, 244, 0.85);
}



.content-text {
    padding: 5% 10%;
}

.content-text h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 25px;
}